<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target xsi:type="File" name="file" layout="${longdate}|${level}|${message}|${callsite:fileName=true}${newLine}"
            fileName="C:\temp\${shortdate}_Log.txt"/>
    <target name="viewer" xsi:type="NLogViewer" address="udp://10.100.18.166:9999"/>
    <target xsi:type="EventLog" name="event" layout="${longdate}|${level}|${message}|${callsite:fileName=true}" source="NLogger"/>
    <target name="console" xsi:type="Console"
            layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
  </targets>

  <rules>
    --><!-- add your logging rules here --><!--
    <logger name="*" minlevel="Trace" writeTo="file,event,viewer,console" />
  </rules>
</nlog>-->