<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AxFormsLaserPrint" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.37.0" newVersion="5.2.37.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>